.burger {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: absolute;
  bottom: -118px; //-196px
  width: 100%;
  max-width: 600px;
  border-top: solid 1px white;
  a {
    text-align: center;
    padding: 10px;
    color: white;
    font-family: Roboto;
    text-decoration: none;
  }
}
