.burger {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: absolute;
  bottom: -195px;
  right: 0;
  a {
    text-align: center;
    padding: 10px;
    color: white;
    font-family: Roboto;
    text-decoration: none;
  }
}
