.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  max-width: 600px;
  width: 100%;
  .chargement {
    margin: auto;
  }
  svg {
    display: flex;
    justify-content: center;
  }
  h2 {
    text-align: center;
  }
  p {
    margin: 20px;
  }
  h5 {
    margin: 0;
  }
}

.article,
.container {
  animation-name: appearing;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  z-index: 5;
}

@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
